**/build
**/coverage
**/.editorconfig
**/.env*
**/.eslintrc.js
**/.git
**/.gitignore
**/README.md
**/node_modules
**/.vscode

.circleci
.dockerignore
.terraform
Dockerfile
deploy/
docker-compose.env
docker-compose.yml
terraform
test
